<mat-nav-list>
  <div class="logo py-4">
    <h2 style="color: white">ADMIN</h2>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/main">
    <mat-icon>home</mat-icon> Home
  </a>
  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>Bookings</mat-icon> Bookings
  </a> -->
  <a routerLink="/farmTour" mat-list-item>
    <mat-icon>edit</mat-icon> Farm House
  </a>
  <!-- <li>
    <a
      class="waves-effect waves-dark"
      href="dashboard.php"
      aria-expanded="false"
      ><i class="icon-speedometer"></i
      ><span class="hide-menu">Dashboard </span></a
    >
  </li> -->
  <a mat-list-item routerLink="/RegisteredUsers">
    <mat-icon>Registered</mat-icon>Registered Users
  </a>
  <a mat-list-item routerLink="/features"> <mat-icon></mat-icon>Activities </a>
  <a (click)="logout()" mat-list-item routerLink="/Logout">
    <mat-icon></mat-icon>Logout</a
  >

  <!-- features -->
</mat-nav-list>
